.logo {
  margin-right: 93px;
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;

  &__studio--dark {
    color: $title-black-color;
  }
  &__studio--light {
    color: $title-white-color;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  &__item {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $title-white-color;
  fill: $soc-primary-color;
  outline: none;

  transition: fill 250ms $cub-bez, background-color 250ms $cub-bez;

  &:last-child {
    margin-right: 0;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: $accent-color;
    fill: $title-white-color;
  }
  &--bottom {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $title-white-color;
  }
}

.btn {
    display: inline-block;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
  
    background-color: $accent-color;
    color: $title-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms $cub-bez;
  }
