.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.main-nav,
.menu {
  display: flex;
  align-items: center;
}
.main-nav {
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-nav__item {
  position: relative;
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.site-nav__title {
  color: $title-text-color;
  text-decoration: none;
  transition: color 250ms $cub-bez;

  &:visited {
    color: $title-text-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
  }
}
.site-nav__title--current {
  color: $accent-color;

  &:visited {
    color: $accent-color;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.top-contacts {
  display: none;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.top-contacts__item {
  @media screen and (min-width: 768px) {
    @media screen and (max-width: 1199px) {
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.top-contacts__link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms $cub-bez, fill 250ms $cub-bez;
  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }

    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
  }
}

.top-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  align-self: center;
}
