.descr {
  
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
.descr__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.descr__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: $sort-bgr-btn;
  margin-bottom: 30px;
  border-radius: 4px;
}
.descr__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.descr__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  color: $title-text-color;
  line-height: 1.14;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.descr__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
