.descr {
    padding-bottom: 0;
  }
  .descr__list {
    display: flex;
  }
  .descr__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $sort-bgr-btn;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  .descr__item {
    margin-right: 30px;
    width: calc((100% - 90px) / 4);
    &:last-child {
        margin-right: 0;
      }
  }
  
  .descr__title {
    margin-bottom: 10px;
  
    font-weight: 700;
    font-size: 14px;
    color: $title-text-color;
    line-height: 1.14;
  }
  .descr__text {
    font-size: 14px;
    line-height: 1.71;
  }