$accent-color: #2196f3;
$primary-text-color: #757575;
$title-text-color: #212121;
$title-white-color: #ffffff;
$title-black-color: #000000;
$dark-bgr: #2f303a;
$sort-bgr-btn: #f5f4fa;
$soc-primary-color: #afb1b8;
$placeholder-text-color: rgba(117, 117, 117, 0.5);
$btn-clk-bg: #188ce8;
$cub-bez: cubic-bezier(0.4, 0, 0.2, 1);